body {
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.main-content {
    padding: 0px;
    text-align: center;
}

.title-page {
    margin-top: 0;
    color: #000000;
}

.statistic-container {
    background-color: #F5EFE6;
    padding: 20px;
}

.action-container {
    background-color: #9FB8A0;
    padding: 32px;
    width: auto;
    height: auto;
}

.statistics {
    display: flex;
    margin: 20px auto;
    gap: 40px;
    width: 80%;
    justify-content: center;
}

.stat {
    background-color: #FFF;
    border-radius: 10px;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 22%;
    text-align: center;
}

.stat-title {
    background-color: #899F8A;
    color: #000;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    margin: 0;
}

.stat-value {
    font-size: 2em;
    padding: 10px 0;
    margin-top: 10px;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.action-link {
    text-decoration: none;
    color: inherit;
}

.action {
    background-color: #FFF;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 22vh;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.action:hover {
    background-color: #f0f0f09a;
}

.action img {
    height: 50px;
}

.action-title {
    margin-top: 10px;
    font-weight: bold;
}
