body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #4F6F52;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; /* Adjust this value to change the height of the navigation bar */
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px; /* Adjust the font size to fit the reduced height */
    position: relative;
}

.navbar li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navbar li a:hover::after {
    background-color: white;
    transform: scaleX(1);
}

.navbar li.logo {
    flex-grow: 1;
    text-align: center;
}

.navbar li.logo img {
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
    height: 30px; /* Adjust the logo height to fit the reduced navigation bar height */
}

.navbar li.cart img {
    border-radius: 50%;
    padding: 5px;
    height: 30px; /* Adjust the cart icon height to fit the reduced navigation bar height */
}

.navbar li.right {
    float: right;
}

.navbar li.right img {
    height: 30px; /* Adjust this value to change the height of the image */
    width: auto; /* Maintain aspect ratio by setting width to auto */
}

.contact-section {
    text-align: center;
    margin: 20px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1c1a7;
    padding: 20px;
    border-radius: 10px;
}

.contact-image img {
    border-radius: 10px;
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.contact-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.contact-info p {
    margin: 10px 0;
    font-size: 18px;
}

.contact-info i {
    margin-right: 10px;
}
