body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #4F6F52;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; /* Adjust this value to change the height of the navigation bar */
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px; /* Adjust the font size to fit the reduced height */
    position: relative;
}

.navbar li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navbar li a:hover::after {
    background-color: white;
    transform: scaleX(1);
}

.navbar li.logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li.logo img {
    border-radius: 50%;
    height: 50px; /* Adjust the logo height */
    width: 50px; /* Adjust the logo width */
}

.navbar li.right {
    float: none;
    display: flex;
    align-items: center;
}

.navbar li.right a {
    margin-left: 10px; /* Adjust spacing between Contact Us and profile logo */
}

.navbar li.right img {
    height: 24px; /* Adjust this value to change the height of the profile image */
    width: 24px; /* Adjust this value to change the width of the profile image */
    margin-left: 5px; /* Add a small margin for better alignment */
}

.navbar li.right .username {
    color: white;
    margin-left: 10px; /* Adjust spacing between username and logout */
}

.main-content {
    background-image: url('../image/bg HOMEPAGE.png');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.main-content .info-box {
    background-color: rgba(0, 128, 0, 0.5);
    color: white;
    padding: 20px;
    width: 45%;
    text-align: justify;
    border-radius: 10px;
    margin-right: 20px;
}

.main-content .biglogo {
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;
}

.main-content .biglogo img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .main-content .info-box {
        width: 80%;
        margin: 10px 0;
    }

    .main-content .biglogo img {
        max-width: 150px;
        max-height: 150px;
    }
}
